.guarantee
    &__heading
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 80px
    &__title
        max-width: 1097px
        font-weight: normal
        font-family: 'Gilroy-medium'
        margin-bottom: 20px
        &__primary
            font-family: 'Gilroy-bold'